.college_card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.college_card {
    width: 18rem;
    height: auto;
    margin: 21px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 2px;
}

.college_card_body {
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 32px;
    text-align: center;
}

.college_card_logo_image {
    width: 100%;
    aspect-ratio: 1;
    padding: 16px;
}