.college_detail_element {
    background-color: white;
    margin: 2rem 0rem;
    transition: .2s;
    box-shadow: 10px black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5px 5px 0px;
}

.college_detail_element_title {
    text-align: left;
    transition: .2s;
    font-size: 1.3rem;
    color: black;
    padding: 2rem 2rem 0.5rem 2rem;
    width: 100%;
}

.college_detail_element_description {
    transition: .2s;
    text-align: left;
    padding: 0.5rem 2rem 2rem 2rem;
    font-size: 1.2rem;
    color: black;
}


/* .college_detail_element:hover  {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 36px 0px;
} */

.college_detail_element:hover .college_detail_element_title {
    color: white;
}

.college_detail_element:hover .college_detail_element_description {
    color: white;
}

.college_detail_element:hover {
    background-color: rgb(36, 22, 71);
}