.upper_div {
    justify-content: center;
    width: 100%;
}

.input {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.container {
    display: block;
    margin: 0px;
}

.compare_table {
    display: flex;
    text-align: center;
}

.compare_table_1,
.compare_table_2 {
    height: 100%;
    width: 50%;
    display: inline-block;
    margin: 1rem;
}