* {
    box-sizing: border-box;
}


/* Position the image container (needed to position the left and right arrows) */

.image_gallery_container {
    margin-top: 2rem;
    width: 100%;
    position: relative;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5px 5px 0px;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    /* margin-top: -50px; */
    margin: auto 0px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: darkslategrey;
}


/* Position the "next button" to the right */

.next {
    right: 15px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 15px;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */

.active,
.demo:hover {
    opacity: 1;
}

.mySlides img {
    width: 100%;
    aspect-ratio: 2;
    background-size: contain;
    padding: 1rem 4rem;
    max-height: 600px;
    background-position: center;
}