/*utils*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}


/*use flexbox to centered element*/

div.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.brand {
    font-size: 40px;
}

h1.brand span:nth-child(1) {
    background-color: transparent;
    color: #0074b4;
}

h1.brand span:nth-child(2) {
    background-color: #0074b4;
    color: #f3f2ef;
    padding: 0px 6px;
    margin-left: -6px;
    border-radius: 2px;
}

div.loading-bar {
    width: 100px;
    height: 2px;
    background-color: #d6cec2;
    border-radius: 10px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
}

div.loading-bar::after {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: #0074b4;
    transform: translateX(-20px);
    animation: loop 2s ease infinite;
}

@keyframes loop {
    0%,
    100% {
        transform: translateX(-28px);
    }
    50% {
        transform: translateX(78px)
    }
}